MONGODB_URI=mongodb://127.0.0.1:27017/ntptudm_1003
LOCAL_MONGODB_URI=mongodb://127.0.0.1:27017/ntptudm_1003
MONGODB_URI_FALLBACK=
SKIP_DB=false
# Atlas optional configuration:
DB_USERNAME=quan
DB_PASSWORD=
DB_CLUSTER=cluster0.dszx297.mongodb.net
DB_NAME=test